<h1 align="center">The Queen</h1>

<div class="row">
  <img class="img-responsive" style="display:block;margin:auto" src="/assets/rdr_covershot-1501dc4d84979bd1b693cb4bcee678eb4c7d95045db48832e983472471cb3d05.jpg" >
  <!-- <%= image_tag("rdr_covershot", :alt => "Rupaul's Drag Race") %> -->
</div>

<h2 align="center">And her brood</h2>

  <div class="row">
    <div class="col-md-4">
      <h3 align="center">Acid Betty</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/1/acid_betty.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Bob the Drag Queen</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/2/bob_the_drag_queen.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Chi Chi Devayne</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/3/chi_chi_devayne.jpg" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 align="center">Cynthia Lee Fontaine</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/4/cynthia_lee_fontaine.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Dax Exclamationpoint</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/5/dax_exclamationpoint.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Derrick Barry</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/derrick_berry.jpg" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 align="center">Kim Chi</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/7/kim_chi.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Laila McQueen</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/laila_mcqueen.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Naomi Smalls</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/naomi_smalls.jpg" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 align="center">Naysha Lopez</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/naysha_lopez.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Robbie Turner</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/avatar/11/robbie_turner.jpg" />
    </div>
    <div class="col-md-4">
      <h3 align="center">Thorgy Thor</h3>
      <img class="img-responsive" style="display:block;margin:auto" src="/uploads/queen/thorgy_thor.jpg" />
    </div>
  </div>

</div>
