<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="row nopadding" >
  <div class="col-sm-1">
    <a href="/pages/social_acid_betty"<p>Acid Betty</p>
    <img class="img-responsive" src="/uploads/queen/acid_betty.jpg" />
  </div>
  <div class="col-sm-1">
    <p>Bob the Drag Queen</p>
    <img class="img-responsive" src="/uploads/queen/bob_the_drag_queen.jpg" />
  </div>
  <div class="col-sm-1">
    <p>Chi Chi Devayne</p>
    <img class="img-responsive" src="/uploads/queen/chi_chi_devayne.jpg" />
  </div>
  <div class="col-sm-1">
    <p>Cynthia Lee Fontaine</p>
    <img class="img-responsive" src="/uploads/queen/cynthia_lee_fontaine.jpg" />
  </div>
  <div class="col-md-1">
    <p>Dax Exclamation</p>
    <img class="img-responsive" src="/uploads/queen/dax_exclamationpoint.jpg" />
  </div>
  <div class="col-md-1">
    <p>Derrick Berry</p>
    <img class="img-responsive" src="/uploads/queen/derrick_berry.jpg" />
  </div>
  <div class="col-md-1">
    <p>Kim Chi</p>
    <img class="img-responsive" src="/uploads/queen/kim_chi.jpg" />
  </div>
  <div class="col-md-1">
    <p>Laila McQueen</p>
    <img class="img-responsive" src="/uploads/queen/laila_mcqueen.jpg" />
  </div>
  <div class="col-md-1">
    <p>Naomi Smalls</p>
    <img class="img-responsive" src="/uploads/queen/naomi_smalls.jpg" />
  </div>
  <div class="col-md-1">
    <p>Naysha Lopez</p>
    <img class="img-responsive" src="/uploads/queen/naysha_lopez.jpg" />
  </div>
  <div class="col-md-1">
    <p>Robbie Turner</p>
    <img class="img-responsive" src="/uploads/queen/robbie_turner.jpg" />
  </div>
  <div class="col-md-1">
    <p>Thorgy Thor</p>
    <img class="img-responsive" src="/uploads/queen/thorgy_thor.jpg" />
  </div>
</div>







<a class="twitter-timeline" href="https://twitter.com/acidbettyrocks" data-widget-id="701154533527986182">Tweets by @acidbettyrocks</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
