<h1 align="center">Social</h1>

<div class="row no-gutters">
  <div class="col-sm-1">
    <img class="img-responsive" src="/uploads/queen/acid_betty.jpg" />
    <p>Acid Betty</p>
  </div>
  <div class="col-sm-1">
    <img class="img-responsive" src="/uploads/queen/bob_the_drag_queen.jpg" />
    <p>Bob the Drag Queen</p>
  </div>
  <div class="col-sm-1">
    <img class="img-responsive" src="/uploads/queen/chi_chi_devayne.jpg" />
    <p>Chi Chi Devayne</p>
  </div>
  <div class="col-sm-1">
    <img class="img-responsive" src="/uploads/queen/cynthia_lee_fontaine.jpg" />
    <p>Cynthia Lee Fontaine</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/dax_exclamationpoint.jpg" />
    <p>Dax Exclamation</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/derrick_berry.jpg" />
    <p>Derrick Berry</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/kim_chi.jpg" />
    <p>Kim Chi</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/laila_mcqueen.jpg" />
    <p>Laila McQueen</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/naomi_smalls.jpg" />
    <p>Naomi Smalls</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/naysha_lopez.jpg" />
    <p>Naysha Lopez</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/robbie_turner.jpg" />
    <p>Robbie Turner</p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="/uploads/queen/thorgy_thor.jpg" />
    <p>Thorgy Thor</p>
  </div>
</div>



<a class="twitter-timeline" href="https://twitter.com/RuPaulsDragRace" data-widget-id="701122398964289536">Tweets by @RuPaulsDragRace</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
