<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_acid_betty"><img class="img-responsive" src="/uploads/queen/acid_betty.jpg" style="max-width:" />
      <p>Acid Betty</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_bob_the_drag_queen"><img class="img-responsive" src="/uploads/queen/bob_the_drag_queen.jpg" />
      <p>Bob the Drag Queen</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_chi_chi_devayne"><img class="img-responsive" src="/uploads/queen/chi_chi_devayne.jpg" />
      <p>Chi Chi Devayne</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_cynthia_lee_fontaine"><img class="img-responsive" src="/uploads/queen/cynthia_lee_fontaine.jpg" />
      <p>Cynthia Lee Fontaine</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_dax_exclamationpoint"><img class="img-responsive" src="/uploads/queen/dax_exclamationpoint.jpg" />
      <p>Dax Exclamation</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_derrick_berry"><img class="img-responsive" src="/uploads/queen/derrick_berry.jpg" />
      <p>Derrick Berry</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_kim_chi"><img class="img-responsive" src="/uploads/queen/kim_chi.jpg" />
      <p>Kim Chi</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_laila_mcqueen"><img class="img-responsive" src="/uploads/queen/laila_mcqueen.jpg" />
      <p>Laila McQueen</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_naomi_smalls"><img class="img-responsive" src="/uploads/queen/naomi_smalls.jpg" />
      <p>Naomi Smalls</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_naysha_lopez"><img class="img-responsive" src="/uploads/queen/naysha_lopez.jpg" />
      <p>Naysha Lopez</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_robbie_turner"><img class="img-responsive" src="/uploads/queen/robbie_turner.jpg" />
      <p>Robbie Turner</p></a>
    </div>
    <div class="col-xs-3 col-md-1">
      <a href="/pages/social_thorgy_thor"><img class="img-responsive" src="/uploads/queen/thorgy_thor.jpg" />
      <p>Thorgy Thor</p></a>
    </div>
  </div>
</div>


<a class="twitter-timeline" href="https://twitter.com/thatonequeen" data-widget-id="701156226416115713">Tweets by @thatonequeen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
